<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetEase-Crawler</title>
</head>
<body>
    <!-- Heading  -->
    <h1>NetEase-Crawler</h1><hr>

    <!-- Initialize Database/Webdriver -->
    <form action="/init" method="get">
        <input type="hidden" name="init_option" value="database-init">
        <input type="submit" value="Initialize Database">
    </form><br>
    <form action="/init" method="get">
        <input type="hidden" name="init_option" value="database-init-clear">
        <input type="submit" value="Init Database with clear">
    </form><br>
    <form action="/init" method="get">
        <input type="hidden" name="init_option" value="webdriver">
        <input type="submit" value="Run webdriver">
    </form><hr>

    <!-- Username+Password/Cookie Upload -->
    <!-- <div>
        Select one of the options: <br><br>
        <input type="radio" name="option" value="account" checked="checked" id=""> Username + Password <br>
        <input type="radio" name="option" value="cookie" id=""> User Cookie <br>
    </div>
    <hr> -->
    <form action="/login" method="post">
        <div>
            <input type="hidden" name="option" value="username+password">
            Username: <input type="text" name="username" id=""><br><br>
            Password: <input type="password" name="password" id=""><br><br>
            <input type="submit" value="login">
        </div>
    </form><hr>
    <form action="/login" method="post">
        <div>
            <input type="hidden" name="option" value="cookie">
            Cookie: &nbsp;&nbsp;&nbsp;<input type="text" name="cookie" id=""><br><br>
            <input type="submit" value="login">
        </div>     
    </form><hr>

</body>
</html>